.header{
background-color: #FFEFD3;
text-align: center;
padding:20px;
}

body{
  background-color: #294C60;
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.word1, .word2{
  background-color: #ADB6C4;
}

.definition1, .definition2{
  background-color: #ADB6C4;
}
.combine{
  padding: 10px;
  margin: 30px;
  align-items: center;

}
.result{
  background-color: #ADB6C4;
}
.reset{
  background-color: #ADB6C4;
}
.history{
  background-color: #be838e;
  
}