.header{
background-color: #FFEFD3;
text-align: center;
padding:20px;
}
.line{
  background-color: #A4243B;
  
}
body{
  background-color: #294C60;
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.word-card{
  background-color: #ADB6C4;
}
.definition1 , .definition2{
  background-color: #ADB6C4;
}